streamlit
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langchain-text-splitters
langgraph
faiss-cpu
ddgs
unstructured
markdown

# --- Modelo SpaCy (Necesario para que unstructured no falle) ---
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
